.particle {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
}

.particle1 { left: 5%; top: 12%; animation-delay: 0.2s; animation-duration: 7s; }
.particle2 { left: 18%; top: 30%; animation-delay: 1s; animation-duration: 9s; }
.particle3 { left: 33%; top: 8%; animation-delay: 0.6s; animation-duration: 8s; }
.particle4 { left: 45%; top: 22%; animation-delay: 1.4s; animation-duration: 10s; }
.particle5 { left: 62%; top: 15%; animation-delay: 2s; animation-duration: 6.5s; }
.particle6 { left: 78%; top: 28%; animation-delay: 2.6s; animation-duration: 8.5s; }
.particle7 { left: 90%; top: 12%; animation-delay: 3.2s; animation-duration: 9.5s; }
.particle8 { left: 12%; top: 55%; animation-delay: 0.8s; animation-duration: 7.5s; }
.particle9 { left: 28%; top: 62%; animation-delay: 1.6s; animation-duration: 10.5s; }
.particle10 { left: 40%; top: 48%; animation-delay: 2.4s; animation-duration: 8s; }
.particle11 { left: 55%; top: 60%; animation-delay: 3s; animation-duration: 9s; }
.particle12 { left: 70%; top: 52%; animation-delay: 3.6s; animation-duration: 7s; }
.particle13 { left: 85%; top: 68%; animation-delay: 4.2s; animation-duration: 10s; }
.particle14 { left: 8%; top: 78%; animation-delay: 1.2s; animation-duration: 9.5s; }
.particle15 { left: 22%; top: 88%; animation-delay: 2.2s; animation-duration: 8.5s; }
.particle16 { left: 38%; top: 80%; animation-delay: 3.2s; animation-duration: 7.5s; }
.particle17 { left: 52%; top: 90%; animation-delay: 4s; animation-duration: 9s; }
.particle18 { left: 66%; top: 84%; animation-delay: 4.8s; animation-duration: 8s; }
.particle19 { left: 80%; top: 76%; animation-delay: 5.6s; animation-duration: 10.5s; }
.particle20 { left: 94%; top: 86%; animation-delay: 6.4s; animation-duration: 9.5s; }